extends layout

block content
  div(class='powered')
    p Made by <a href='https://twitter.com/shekitup' target='_blank'>Abhishek Singh</a>
    //img(src='/images/powered.png')
  div(class='loading')
    h3 Creating your GIF...
    h4 Be patient. This may take a little bit
  div(class='container-fixed')
    div(class='row bordered-row')
      div(class='col-md-2')
      div(class='col-xs-12 col-md-8')
        h1(class='logo-header text-center')
          img(src='/images/logo2.png', class='logo center-block img-responsive')
        h3(class='subtext') Give me your words & I shall give you a GIF
      div(class='col-md-2')
    //div(class='row margined-row')
      //div(class='col-md-2')
      //div(class='col-xs-12 col-md-8')
        //h2 Step 1 : Choose your Source
        //ul(class='list-inline')
          //li
            //a(href="#", id="searchGiphy", class='giphy btn btn-default btn-lg') Giphy
          //li
            //a(href="#", id="searchBing", class='bing btn btn-default btn-lg') Bing
          //li
            //a(href="#", id="searchFlickr", class='flickr btn btn-default btn-lg') Flickr
      //div(class='col-md-2')
    div(class='row')
      div(class='col-md-2')
      div(class='col-xs-12 col-md-8')
        //h2 Step 2 : Type out your GIF
        form(id='gifit', class='form-inline')
          div(class='form-group')
            input(type='text',id='query',class='form-control input-lg input-block gif-query', placeholder='Type your gif...')
          div(class='form-group')
            input(type='submit',class='btn btn-success btn-lg submit-query', value='Gif it')
      div(class='col-md-2')
    div(class='row')
      div(class='col-md-2')
      div(class='col-md-8')
        form(class='form-inline')
          div(class='form-group')
            input(type='text',class='form-control input-lg input-block hidden-form')
          div(class='form-group')
            input(type='submit',class='btn btn-lg hidden-form', value='Gif it')  
      div(class='col-md-2')
    div(class='row')
      div(class='col-xs-12 text-center')
        div(class='examples')
    div(class='row')
      div(class='col-md-2')
      div(class='col-xs-12 col-md-8 result')
        h2(class='result') Your Brand New GIF
        img(src='', id='newgif',class='img-responsive center-block' width='400')
        a(href='', id='newgifurl',target='blank', class='text-center gifurl')
      div(class='col-md-2')
    div(class='row explain')
      div(class='col-sm-4')
      div(class='col-xs-12 col-sm-4')
        h3 How this works?
        p Describe your gif (< 5 words)
        p Put '-' to chain words e.g hillary-clinton
        p Press the button
        p Be patient
        p Enjoy your gif! Share it, Use it, Throw it!
      div(class='col-sm-4')
