h1 {
	margin-bottom: 35px;
}

h2 {
	font-weight: 300;
	font-size: 16px;
	margin-bottom:10px;
}

.container-fixed {
	padding: 0 10px;
}

.row {
	text-align: center;
}

ul {
	margin-top:10px;
}

.logo {
	width: 400px;
}

.logo-header {
	margin-bottom: 0;
}

.subtext {
	font-size: 18px;
	font-style: italic;
	color: #999;
	margin-bottom: 25px;
	text-shadow: 0px 1px 1px #fff;
}

.bordered-row {
	background: #fbfbfb;
	border-bottom: 1px solid #eee;
}

.margined-row {
	margin-top: 10px;
}

.btn, .form-control {
	border-radius: 0;
}

.btn:focus{
	outline: none;
}

.form-control:focus {
	border-color: #aaa;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.result {
	display: none;
}

.bing, .bing:hover, .bing:active, .bing:visited, .bing:focus {
	background: #ffd400;
	color: black;
	border: none;
}

.giphy, .giphy:hover, .giphy:active, .giphy:visited, .giphy:focus {
	background: #000;
	color: white;
	border: none;
}

.flickr, .flickr:hover , .flickr:active, .flickr:visited, .flickr:focus{
	background: #0063dc;
	color: white;
	border: none;
}

.selected, .selected:hover, .selected:active, .selected:visited  {
	/*border: 5px solid #ec008c;*/
	box-shadow: inset 0 0 0 5px #ec008c;
}

.powered {
	position: absolute;
	bottom: 0;
	right: 0;
}

#gifit {
	margin-top: 10%;
}

.loading {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	padding-top: 15%;
	background: rgba(0,0,0,0.8);
	z-index: 10;
	color: white;
	display: none;
}

.submit-query, .submit-query:active {
	background: #ec008c;
	color: #fff;
	border: 1px solid #ec008c;
}

 .submit-query:hover {
 	background: #d3007d;
	color: #fff;
	border: 1px solid #d3007d;
 }

.submit-query:focus {
	background: #ec008c;
	color: #fff;
	border: 1px solid #ec008c;
}

#query {
	width: 50%;
}

.submit-query{
	width: 100px;
}

.form-group {
	display: inline !important;
}


@media (max-width: 768px){

	.form-group {
		display: inherit;
	}

	.submit-query {
		width: 100%;
	}

	#query {
		text-align: center;
		width: 100%;
	}
}

.hidden-form{
	height: 0;
	visibility: hidden;
	padding-top: 0;
	padding-bottom: 0;
}

.examples{
	text-align: center;
	color:#aaa;
	font-weight: 300;
}

.result {
	font-weight: bold;
	margin-bottom: 20px;
}

#newgifurl {
	background: #ec008c;
	color:white;
}